.TituloHeroes{
	margin-top: 10%;
	font-family: "Roboto", sans-serif;
	font-size: 400%;
}

.boton-verDetalles-transparente {
	margin-left: 0%;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	display: inline-block;
	width: 40%;
	padding: 8px;
	color: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.0);
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
  }
  .boton-verDetalles-transparente:hover,
  .boton-verDetalles-transparente:active {
	background-color: rgba(255, 255, 255, 0.8);
	color: #000;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
  }

.LinksFooter{
    margin-top: 10%;
    margin-left: 0%;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
}
